<h1>Articles listing page</h1>
<table>
  <thread>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thread>

  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.description %></td>
        <td>Some action</td>
      </tr>
    <% end %>
  </tbody>
</table>
